# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEA files
.idea/
.vscode/

# Environments
.env
.venv
env/
venv/

# ruff linter
.ruff_cache

# Desktop Service Store (macOS)
**/.DS_Store

